/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)

  THIS IS A RESET

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}ss
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Stuff */

/* Main Left Bar */
body{
  background-color: #FFFFB8;
}

#hermes_title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 350%;
  color: #CC0000;
  position: absolute;
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 10px;
  background-color: rgba(255, 133, 51, 0.4);
  width: 100%;
}
#main_twits_column {   
  position: absolute;
  left: 35px;
  top: 100px;
  background-color: rgba(173, 92, 173, 0.1);
}
#logo{
  position: fixed;
  right: 40px; 
  top: 10px;
}
/* Single Twits */
.single_twit {
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(173, 92, 173, 0.2);
  /*border: 1px solid #993399;*/
  height: 55px;
  margin: 20px;
  padding: 20px;
  width: 565;
}
.first_line {
  font-family: 'Josefin Sans', sans-serif;
  display: inline;  
  padding-left: 6px;
}
#user_name {
  font-family: 'Josefin Sans', sans-serif;
  color: #660033;
  font-size: 110%
}
#timestamp {
  position: absolute;
  color: #660033;
  right: 42px;
  font-size: 90%;
}
#twit_msg {
  font-family: 'Josefin Sans', sans-serif;
  color: #CC0000;
  font-size: 130%;
  padding: 10px;
}

/* User Sidebar */
#user_sidebar {
  background-color: rgba(173, 92, 173, 0.7);
  position: fixed;
  right: 100px; 
  top: 100px;
  width: 185px;
}
#side_bar_title {
  font-family: 'Josefin Sans', sans-serif;  
  font-size: 150%;
  color: #660033;
  text-align: center;
  margin: 7px;
  padding: 7px;
}
#update_all {
  font-family: 'Josefin Sans', sans-serif;
  color: #660033;
  font-size: 120%;
  background:none;
  border:none; 
  margin-left: 4px;
  padding: 8px;
}
.user_hist {
  font-family: 'Josefin Sans', sans-serif;
  color: #660033;
  font-size: 110%;
  background:none;
  border:none; 
  margin-left: 4px;
  padding: 8px;
}


